alertmanager:
  enabled: false

grafana:
  adminPassword: change_me
  persistence:
    enabled: true
    storageClassName: yc-network-hdd
    size: 2Gi
  service:
    type: ClusterIP

prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    ruleSelectorNilUsesHelmValues: false
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: yc-network-hdd
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 8Gi

# В Managed Kubernetes control-plane метрики часто недоступны из воркер-нод.
# Отключаем их, чтобы не было постоянных "down" targets.
kubeEtcd:
  enabled: false
kubeControllerManager:
  enabled: false
kubeScheduler:
  enabled: false
